ZooClient/src/wsdl/localhost_8080/Exampel/Hello.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wel/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wel/" name="Hello">
<types>
<xsd:schema>
<xsd:import namespace="http://www.example.org/NewService/" schemaLocation="http://localhost:8080/Exampel/Hello?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://wel/" schemaLocation="http://localhost:8080/Exampel/Hello?xsd=2"/>
</xsd:schema>
</types>
<message name="checkHealth">
<part name="parameters" element="tns:checkHealth"/>
</message>
<message name="checkHealthResponse">
<part name="parameters" element="tns:checkHealthResponse"/>
</message>
<message name="checkPopularity">
<part name="parameters" element="tns:checkPopularity"/>
</message>
<message name="checkPopularityResponse">
<part name="parameters" element="tns:checkPopularityResponse"/>
</message>
<message name="addAnimal">
<part name="parameters" element="tns:addAnimal"/>
</message>
<message name="addAnimalResponse">
<part name="parameters" element="tns:addAnimalResponse"/>
</message>
<portType name="Hello">
<operation name="checkHealth">
<input wsam:Action="http://wel/Hello/checkHealthRequest" message="tns:checkHealth"/>
<output wsam:Action="http://wel/Hello/checkHealthResponse" message="tns:checkHealthResponse"/>
</operation>
<operation name="checkPopularity">
<input wsam:Action="http://wel/Hello/checkPopularityRequest" message="tns:checkPopularity"/>
<output wsam:Action="http://wel/Hello/checkPopularityResponse" message="tns:checkPopularityResponse"/>
</operation>
<operation name="addAnimal">
<input wsam:Action="http://wel/Hello/addAnimalRequest" message="tns:addAnimal"/>
<output wsam:Action="http://wel/Hello/addAnimalResponse" message="tns:addAnimalResponse"/>
</operation>
</portType>
<binding name="HelloPortBinding" type="tns:Hello">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="checkHealth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkPopularity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAnimal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Hello">
<port name="HelloPort" binding="tns:HelloPortBinding">
<soap:address location="http://localhost:8080/Exampel/Hello"/>
</port>
</service>
</definitions>